<div id="top_image">
  <img src="/images/top.jpg", class="bg-img">
  <div class="container top_introduction text-center">
    <h1 class="mb-10">Takeloca</h1>
    <p>みんなの写真がどこで撮影されたものか、検索してみよう！</p>
    
    <div class="btn_group">
      <%= link_to '投稿一覧をみてみる', users_path, class: 'btn btn-success btn-block' %>
      <p class="mt-3">※お気に入り機能や記事詳細を見るには新規登録が必要です</p>
    </div>

  </div>
  
</div>
